.DivBreandButton{
    width: 235px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-left: 10px;
}

.imgBrendButton{
    height: 100%;
    max-width: 100%;
    filter: grayscale(1);
    opacity: .7;
}

.imgBrendButton:hover{
    filter: grayscale(0);
    opacity: 1;
}