.Button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    margin-right: 10px;
}

.imgButton{
    height: 24px;
    width: 24px;
    margin: 4px;
}

.TextButton{
    font-size: 16px;
    text-align: center;
    color: aliceblue;
}